.productWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.productContainer {
	width: 25rem;
	border-radius: 1rem;
	background-color: rgb(32, 32, 32);
	margin-bottom: 1rem;
	margin-right: 1rem;
	overflow: hidden;
}

.productContainer h1 {
	margin: 0;
}

.productContainer p {
	margin-top: 0.2rem;
}

.productInfo {
	height: 15rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-evenly;
}

.productImage img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
