.register-container {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.register-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40rem;
	color: rgba(211, 211, 211, 0.966);
	background-color: rgba(255, 255, 255, 0.075);
	border-radius: 1rem;
}

.register-wrapper h1 {
	font-size: 2.5rem;
	text-align: center;
	margin: 0.66rem;
}

.register-wrapper form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.register-wrapper form input {
	background-color: inherit;
	color: rgba(255, 255, 255, 0.89);
	align-items: end;
	padding: 0.5rem;
	margin-bottom: 2rem;
	font-size: 1.33rem;
	border: 1px solid #fff;
	border-style: none;
	border-bottom-style: solid;
}

.register-wrapper form button {
	width: 10rem;
	margin: 0.66rem;
	padding: 0.66rem;
	border: 1px solid rgb(211, 211, 211);
	border-radius: 0.33rem;
	font-size: 1.1rem;
	color: rgb(211, 211, 211);
	background-color: #444;
	cursor: pointer;
}

.register-wrapper form label {
	margin-bottom: 0.5rem;
	font-size: 1.3rem;
}

.register-wrapper form .error {
	color: rgba(255, 0, 0, 0.753);
}
